
.jumbotron{
    padding: 2rem 1rem;
    background-color: #e9ecef;
    margin-bottom: 2rem;
    border-radius: .3rem;
}
label{
    font-weight: 500;
}

input, select, textarea, code{
    margin-bottom: 1rem;
}
code{
    display:block;
    border-radius: 5px;
    padding: 0.5rem;
    border: 1px solid gray;
    width:100%;
    background-color: rgb(242, 240, 240);
    min-height: 2rem;

}